.container {
	display:  flex;
	justify-content: center;
	align-content: center;
}

.inner {
	width: 50%;
	background-color: #ccc;
	height: auto;
}

.title {
	text-align: center;
}

.routes {
	text-align: left;
	padding: 0 15% 10% 20%;
}